html, body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 25px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

#container {
    display: grid;
    width: 100vw;
    height: 100vh;
    justify-items: center;
    grid-template-rows: 0.2fr 0.1fr 1fr;
    gap: 20px;
}

#title-container {
    display: flex;
    text-align: center;
    font-size: 30px;
}

#form {
    align-self: center;
    justify-self: center;
    font-size: 25px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#search {
    width: 300px;
    height: 30px;
    font-size: 25px;
}

input {
    text-align: center;
    
}

#submit {
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    #search {
        font-size: 20px;
        height: 27px;
        border: 0;
        border-radius: 4px;
    }

    #submit {
        font-size: 20px;
        width: fit-content;
        border-radius: 4px;
        border: 0;
        padding: 6px;
    }

    input {
        text-align: center;
    }

    #box {
        font-size: 20px;
        min-width: 340px;
        width: 340px;
    }

    #form {
        display: flex;
        gap: 20px;
    }

}

#box {
    display: grid;
    width: 60vw;
    max-width: 600px;
    max-height: 300px;
    height: 50vh;
    border-radius: 5px;
    padding: 15px;
    gap: 10px;
    background-color: rgba(174, 238, 229, 0.247);
    align-self: start;
    font-size: 17px;

}

.row {
    border-radius: 5px;
    background-color: rgba(251, 255, 27, 0.445);
    padding: 5px;
    transition: .3s;
}

.content {
    font-weight: 600;
    font-family: monospace;
    font-size: 20px;
}