html, body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 25px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

#container {
    display: grid;
    width: 100vw;
    height: 100vh;
    justify-items: center;
    grid-template-rows: 0.2fr 0.1fr 1fr;
    gap: 20px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 350px 350px;
    align-self: start;
}

#title-container {
    display: flex;
    text-align: center;
    font-size: 30px;
    text-shadow: 2px 2px #fefefe;
}

#form {
    align-self: center;
    justify-self: center;
    font-size: 25px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#search {
    width: 300px;
    height: 30px;
    font-size: 25px;
    border-radius: 5px;
    border: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

input {
    text-align: center;
    
}

#submit {
    font-size: 19px;
    border: 0;
    border-radius: 5px;
    padding: 5px;
}

@media screen and (max-width: 600px) {
    #search {
        font-size: 25px;
        height: 30px;
        border: 0;
        border-radius: 4px;
    }

    #submit {
        font-size: 20px;
        width: fit-content;
        border-radius: 4px;
        border: 0;
        padding: 6px;
    }

    input {
        text-align: center;
    }

    #box {
        font-size: 20px;
        min-width: 340px;
        width: 350px;
        background-size: 150px 150px;
    }

    #form {
        display: flex;
        gap: 20px;
    }

}

#box {
    display: grid;
    width: 60vw;
    max-width: 600px;
    max-height: 380px;
    height: 60vh;
    border-radius: 5px;
    padding: 15px;
    gap: 10px;
    background-color: #C9C9C9;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: 350px 350px;
    align-self: start;
    font-size: 17px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.row {
    border-radius: 5px;
    color: #424242;
    background-color: #FEFFEA;
    padding: 10px;
    transition: .3s;
}

.content {
    font-weight: 800;
    font-family: monospace;
    font-size: 20px;
    color: #424242;
}